/* Mobile */
@media (max-width: 767px) {
    #root {
        height: 100vh;
    }

    html {
        font-size: 16px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    #root {
        height: 100vh;
    }

    html {
        font-size: 18px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    #root {
        height: 100vh;
    }

    html {
        font-size: 24px;
    }
}

/* Common */
#root {
    font-family: 'SUITE';
}

main {
    margin-top: 4rem;
    padding: 2rem;
}
