/* Mobile */
@media (max-width: 767px) {
    html {
        font-size: 18px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 18px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    html {
        font-size: 24px;
    }
}

/* Common */
#root {
    font-family: 'SUITE';
    height: 100vh;
}

main {
    padding: 6rem 2rem 3rem;
}
