/* Mobile */
@media (max-width: 767px) {
    #root {
        height: 100vh;
    }

    html {
        font-size: 10px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    #root {
        height: 100vh;
    }

    html {
        font-size: 12px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    #root {
        padding: 2rem;
        height: 100vh;
    }

    html {
        font-size: 24px;
    }
}
